<div class="title-conteneur">
  <%if params[:query].present?%>
    <h2>Résultats pour <%=params[:query]%> :</h2>
  <%end%>
</div>
<%if @flats.empty? %>
  <div class="title-conteneur">
    <h2>Aucun appartement ne correspond à ces critères</h2>
  </div>
<%else%>
  <div class="d-flex">
  <div>
    <% @flats.each_with_index do |flat, index| %>
      <div class="big-box">
        <div class="conteneur-card">
          <%if index % 2 == 0 %>
            <div class="flat-card">
              <div class="top-card">
                <div class="flat-profile">
                  <img class="avatar" src="<%=flat.user.avatar_url%>">
                  <p><%=flat.user.first_name%> <%=flat.user.last_name[0]%>.</p>
                </div>
                <div class="flat-locality">
                  <i class="fa-solid fa-location-pin" style="color: #25316d;"></i>
                  <p><%=flat.city%></p>
                </div>
              </div>
              <a href="<%=flat_path(flat)%>" class= "text-decoration-none">
                <div class="flat-picture" style='background-image: url(<%= flat.pictures.split(" ")[0] %>);'>
                </div>
              </a>
              <div class="flat-icons-price">
                <div class="card-icons">
                  <%= link_to flat_favorites_path(flat), data: {turbo_method: :post}, class: "text-decoration-none" do %>
                    <i class="fa-regular fa-heart fa-xl" style="color: #25316d;"></i>
                  <% end %>
                  <i class="fa-solid fa-pen-to-square fa-xl" style="color: #25316d;"></i>
                  <i class="fa-regular fa-message fa-xl" style="color: #25316d;"></i>
                </div>
                <div class="flat-price">
                  <p><strong><%=flat.price_per_month%>€/mois</strong></p>
                </div>
              </div>
            </div>
            <div class="flat-descr">
              <a href="<%=flat_path(flat)%>" class= "text-decoration-none">
                <h2><%=flat.name%></h2>
              </a>
              <p><%=flat.description%></p>
              <h4>Autonomie : <%=flat.autonomy_level%>/5</h4>
            </div>
          <% else %>
            <div class="flat-descr">
              <a href="<%=flat_path(flat)%>" class= "text-decoration-none">
                <h2><%=flat.name%></h2>
              </a>
              <p><%=flat.description%></p>
              <h4>Autonomie : <%=flat.autonomy_level%>/5</h4>
            </div>
            <div class="flat-card">
              <div class="top-card">
                <div class="flat-profile">
                  <img class="avatar" src="<%=flat.user.avatar_url%>">
                  <p><%=flat.user.first_name%> <%=flat.user.last_name[0]%>.</p>
                </div>
                <div class="flat-locality">
                  <i class="fa-solid fa-location-pin" style="color: #25316d;"></i>
                  <p><%=flat.city%></p>
                </div>
              </div>
              <a href="<%=flat_path(flat)%>" class= "text-decoration-none">
                <div class="flat-picture" style='background-image: url(<%= flat.pictures.split(" ")[0] %>);'>
                </div>
              </a>
              <div class="flat-icons-price">
                <div class="card-icons">
                  <%= link_to flat_favorites_path(flat), data: {turbo_method: :post}, class: "text-decoration-none" do %>
                    <i class="fa-regular fa-heart fa-xl" style="color: #25316d;"></i>
                  <% end %>
                  <i class="fa-solid fa-pen-to-square fa-xl" style="color: #25316d;"></i>
                  <i class="fa-regular fa-message fa-xl" style="color: #25316d;"></i>
                </div>
                <div class="flat-price">
                  <p><strong><%=flat.price_per_month%>€/month</strong></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="bordure">
        </div>
      </div>
    <% end %>
  </div>
  <div>
  <div class="mapindex" style="position: sticky;" data-controller="map" data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  </div>
  </div>
<%end%>
