<div class="flat-conteneur">
  <div class="pictures-conteneur">
    <div class="picture-principale">
      <p>Picture here...</p>
    </div>
    <div class="picture-grille">
      <div class="picture-left-top">
        <p>Picture here...</p>
      </div>
      <div class="picture-right-top">
        <p>Picture here...</p>
      </div>
      <div class="picture-left-down">
        <p>Picture here...</p>
      </div>
      <div class="picture-right-down">
        <p>Picture here...</p>
      </div>
    </div>
  </div>
  <div class="bottom-conteneur">
    <div class="description-card">
      <div class="section-description">
        <h2><%= @flat.name %></h2>
      </div>
      <div class="section-description">
        <p>Hébergé par <i><%= @flat.user.email %></i></p>
      </div>
      <div class="section-description">
        <p><%= @flat.description %></p>
      </div>
      <div class="section-description">
        <p><strong>Autonomie : <%= @flat.autonomy_level %>/5</strong></p>
      </div>
    </div>
    <div class="book-card">
      <div class="section-book">
        <h4><strong><%= @flat.price_per_month %>€ /mois</strong></h4>
        <% @booking = Booking.new %>
        <%= simple_form_for [@flat, @booking] do |f| %>
          <%= f.input :start_date,
              label: "Du :",
              as: :string,
              input_html: { data: { controller: "datepicker" } } %>
          <%= f.input :end_date,
              label: "Au :",
              as: :string,
              input_html: { data: { controller: "datepicker" } } %>
          <div class="d-flex justify-content-center">
          <%= f.submit "Book", class: "btn btn-outline-dark" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="mapindex">
  <div data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>


  <% @flat.bookings.each do |booking| %>
  <% booking.reviews.each do |review| %>
  <%= review.content %>
  <%=  review.rating %>
  <% end %>
  <% end %>

<%= link_to "Edit", edit_flat_path(@flat) %>
