<div class="flat-conteneur">
  <div class="pictures-conteneur">
    <div class="picture-principale" style="background-image: url(<%= image_path @flat.pictures.split(" ")[0] %>); background-size: cover;">
    </div>
    <div class="picture-grille">
      <div class="picture-left-top" style="background-image: url(<%= image_path @flat.pictures.split(" ")[1] %>); background-size: cover;">
      </div>
      <div class="picture-right-top" style="background-image: url(<%= image_path @flat.pictures.split(" ")[2] %>); background-size: cover;">
      </div>
      <div class="picture-left-down" style="background-image: url(<%= image_path @flat.pictures.split(" ")[3] %>); background-size: cover;">
      </div>
      <div class="picture-right-down" style="background-image: url(<%= image_path @flat.pictures.split(" ")[4] %>); background-size: cover;">
      </div>
    </div>
  </div>
  <div class="bottom-conteneur">
    <div class="description-card">
      <div class="section-description">
        <h2><%= @flat.name %>
          <% if current_user%>
            <% if current_user.favorites.map(&:flat_id).include?(@flat.id) %>
              <%= link_to favorite_path(current_user.favorites.find_by(flat_id: @flat.id)), data: {turbo_method: :delete}, class: "text-decoration-none" do %>
                <i class="fa-solid fa-heart fa-xl" style="color: #25316d;"></i>
              <% end %>
            <%else%>
              <%= link_to flat_favorites_path(@flat), data: {turbo_method: :post}, class: "text-decoration-none" do %>
                <i class="fa-regular fa-heart fa-xl" style="color: #25316d;"></i>
              <% end %>
            <% end %>
          <%else%>
            <%= link_to flat_favorites_path(@flat), data: {turbo_method: :post}, class: "text-decoration-none" do %>
              <i class="fa-regular fa-heart fa-xl" style="color: #25316d;"></i>
            <% end %>
          <% end %>
        </h2>
      </div>
      <div class="section-description">
        <i class="fa-solid fa-star fa-lg" style="color: #e6c700;"></i>
        <% if @average_rating %>
        <p><strong><%= @average_rating %></strong></p>
        <% else %>
        <p><strong>Pas de note pour le moment</strong></p>
        <% end %>
      </div>
      <div class="section-description">
        <i class="fa-solid fa-location-pin fa-lg" style="color: #25316d;"></i>
        <p><%= @flat.location %></p>
      </div>
      <div class="section-description">
        <i class="fa-solid fa-house fa-lg" style="color: brown;"></i>
        <p>Hébergé par <i><%= link_to @flat.user.first_name + " " + @flat.user.last_name[0] + ".", user_path(@flat.user)%></i>
        <div class="rounded-circle" style="background-image: url(<%=@flat.user.avatar_url%>); width: 40px; height: 40px; background-size: cover; background-position: center;"></div>
        </p>
      </div>
      <div class="section-description">
        <p><%= @flat.description %></p>
      </div>
      <div class="section-description">
        <i class="fa-solid fa-battery fa-lg" style="color: green;"></i>
        <p><strong>Autonomie : <%= @flat.autonomy_level %>/5</strong></p>
      </div>
      <div class="section-description">
        <p><i class="fa-solid fa-user fa-lg" style="color: brown;"></i> À propos de <i><%= @flat.user.first_name %></i> : <%= @flat.user.biography %></p>
      </div>
      <div class="section-description">
        <i class="fa-solid fa-map fa-lg" style="color: blue;"></i>
        <div class="map-conteneur">
          <div class="map-display" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>
        </div>
        <div>
          <% @flat.bookings.each do |booking| %>
            <% booking.reviews.each do |review| %>
              <%= review.content %> <br>
              Rating : <%= review.rating %> / 5
            <% end %>
          <% end %>
        </div>
      </div>

    <div class="book-card">
      <div class="section-book">
        <h4><strong><%= @flat.price_per_month %>€ / mois</strong></h4>
        <% unless current_user && current_user.old %>
          <% @booking = Booking.new %>
          <%= simple_form_for [@flat, @booking] do |f| %>
            <%= f.input :start_date,
                label: "Du :",
                as: :string,
                input_html: { data: { controller: "datepicker" } } %>
            <%= f.input :end_date,
                label: "Au :",
                as: :string,
                input_html: { data: { controller: "datepicker" } } %>
            <div class="d-flex justify-content-center">
            <%= f.submit "Réserver", class: "btn btn-outline-dark" %>
            </div>
          <% end %>
        <%end%>
      </div>
    </div>
    </div>
  </div>
</div>
