<% if @bookings.empty? %>
  <p>Vous n'avez pas encore de réservations.</p>
<% else %>
<ul>
<% @bookings.each do |booking| %>
  <li><%= image_tag booking.flat.pictures.split(" ")[0] %></li>
  <li><%= booking.flat.name %></li>
  <li><%= booking.flat.location %></li>
  <li><%= booking.flat.description %></li>
  <li><%= booking.start_date%></li>
  <li><%= booking.end_date %></li>
<% end %>
</ul>
<% end  %>

