<% @flats.each do |flat|%>
  <li><%= image_tag flat.pictures %></li>
  <li><%= flat.name %></li>
  <li>Adresse: <%= flat.location %></li>
  <li>Description: <%= flat.description %></li>
  <li>Autonimie: <%= flat.autonomy_level %></li>
  <li>Prix: <%= flat.price_per_month %></li>
  <% if flat.user == current_user %>
    <%= link_to 'Delete', flat_path(flat), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  <% end %>
  <% if flat.bookings.any? %>
    <ul>
    <% flat.bookings.each do |booking| %>
      <li>Réservé du <%= booking.start_date %> au <%= booking.end_date %></li>
    <% end %>
    </ul>
  <% end %>
<% end  %>

<% if @flats.empty? %>
  <%= link_to 'New Flat', new_flat_path, class: 'btn btn-primary' %>
<% end %>
