<div>
  <div style="height:200px; width:200px; background-image: url(<%= @user.avatar_url %>); background-size: cover; background-position: center"></div>
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  <p>Email: <%= @user.email %></p>
  <p>Skills: <%= @user.skills %></p>
  <p>Biography: <%= @user.biography %></p>
  <%= link_to "Edit", edit_user_registration_path %>
</div>
