<div>
  <img src="<%= @user.avatar_url %>" alt="Avatar de <%= @user.first_name %>">
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  <p>Email: <%= @user.email %></p>
  <p>Skills: <%= @user.skills %></p>
  <p>Biography: <%= @user.biography %></p>
</div>
