<div class="home-conteneur">
  <div class="ellipse-picture">
  </div>

  <div class="brand-name-conteneur">
  <h1>HomeGen</h1>
  <h2>Connecting generations, Building Futures</h2>
  </div>

  <div class="search-phrase-conteneur">
    <%= form_with url: flats_path, method: :get do %>
    <p>Je veux voir les logements,<br>
        à <%= text_field_tag :query,
          params[:query],
          class: "search-index",
          style: "width: 60%",
          placeholder: "Paris..."
        %>
        <br>
        du
          <%= text_field_tag :start_date,
              params[:start_date],
              class: "search-index",
              placeholder: "...",
              data: {controller: "datepicker"}
            %>
        <br>
        au
            <%= text_field_tag :end_date,
                  params[:end_date],
                  class: "search-index",
                  placeholder: "...",
                  data: {controller: "datepicker"}
                %>
          .
          <%= button_tag(class: "btn") do %>
            <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #25316d;"></i>
          <% end %>
        <% end %>
        </p>
  </div>
  <div class= "position-absolute bottom-0 end-0">
    <%= link_to "Se connecter", new_user_session_path %>
    <%= link_to "S'inscrire", new_user_registration_path %>
  </div>
</div>
